PROJECT_NAME="eSkill NLP Service"
API_V1_STR="/api/v1"
DEBUG=True

# Auth
API_KEY="your-secret-api-key-here"

# Model Paths
MODEL_PATH="app/models/saved/svm_intent_model.pkl"
VECTORIZER_PATH="app/models/saved/tfidf_vectorizer.pkl"
